.mobile-nav {
  background-color: #DDD;
  box-shadow: inset -.0625em 0 .625em rgba(0,0,0,.6);
}

.search-form {
  padding: .625em;
  margin-bottom: .625em;
}

.search-form input {
  width: 100%;
  padding: .3125em 0;
  border-color: #666;
}

.main-nav {
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-top: 1px solid rgba(0,0,0,.05);
}

.main-nav-item {
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.main-nav-item a {
  display: block;
  padding: 0 .625em;
  line-height: 2.8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobile-nav-toggle {
  width: 40px;
  height: 40px;
  margin: 5px .625em;
  float: left;
  border: 1px solid #999;
  color: #EEE;
  background: #EEE url('data:image/svg+xml; base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHJlY3QgaGVpZ2h0PSI1IiB3aWR0aD0iMjQiIHk9IjciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48cmVjdCBoZWlnaHQ9IjUiIHdpZHRoPSIyNCIgeT0iMTciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48cmVjdCBoZWlnaHQ9IjUiIHdpZHRoPSIyNCIgeT0iMjciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48L2c+PC9zdmc+') 0 0 no-repeat;
  border-radius: 3px;
  overflow: hidden;
  text-align: left;
  text-indent: 150%;
  -webkit-appearance: none;
  appearance: none;
}